.queues-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.queues-list > .mdl-card {
    margin: 20px;
}

.student-request {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    background: #f8f8f8;
}
